

.work-sans-normal> {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{

max-width: 1280px;
margin: 5px 160px;
}
/* shaired-styles */
.vision-icon{
    width: 100px;
    height: 100px;
}


/* banner-section */
.banner{
    display: flex;
    height: 560px;
    width: 1280px;
    background-color:#C6E4D6;
    padding: 50px 80px;
    gap: 64px;
    border-radius: 24px;
}
.banner-contant{
    width: 622px;
    height: 326px;
    padding: 162px 0px 197px 69.66px;
    
    

}
.banner-img{
    height: 158px;
    width: 371px;
    padding: 80px 100px 80px 100px;
}
.banner-p{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
}
.banner-h1{
    font-size: 56px;
    font-weight: bold;
    column-rule: #0E0E0E;
}
.banner-button{
    font-size: 18px;
    font-weight: 800px;
    color: #FFFFFF;
background-color: #006A50;
padding: 34px 17px;
height: 56px;
width: 270px;
border-radius: 8px;
text-align: center;

}
/* news-section */
.recent-news-heading{
    font-size: 40px;
    font-weight: bold;
    color: 0E0E0E;
}
.recent-news-description{
    font-size: 16;
   color:#0E0E0E
}
.news-1{
    display: flex;
    width: 1280px;
    height: 340px;
    padding: 48px;
    gap: 40px;
    background-color: #cae7f3;
    border-radius: 24px;
    border: 1px solid black;
}
.news-img{padding-top: 10px;
    width: 408px;
    height: 300px;
    border-radius: 24px;
}
.news-heading{
    font-size: 30px;
    font-weight: bold;
    color: #0E0E0E;
}
.al-jazeera-icon{
    width: 134px;
    height: 30px;
}
.news-description{
    font-size: 16px;
    color: #0E0E0E;
}
.news-button{
    background-color: #006A50;
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 700;
    width: 139px;
    height: 40px;
    padding: 26px 13px;
    border-radius: 8px;
    text-align: center;
}