

.work-sans-normal> {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{

max-width: 1280px;
margin: 5px 160px;

}
/* shaired-styles */
.vision-icon{
    width: 100px;
    height: 1000px;
}
button:hover{
    background-color: rgb(88, 161, 209);
}
.card-icon{
    height: 62px;
    width: 62px;
   
}
.sub-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}
.primary-p{
    size: 16px;
color: #0E0E0E;
margin-bottom: 24px;
}


/* banner-section */
.banner{
    display: flex;
    height: 560px;
    width: 1280px;
    background-color:#C6E4D6;
    padding: 50px 80px;
    gap: 64px;
    border-radius: 24px;
}
.banner-contant{
    width: 622px;
    height: 326px;
    padding: 162px 0px 197px 69.66px;
    
    

}
.banner-img{
    height: 158px;
    width: 371px;
    padding: 80px 100px 80px 100px;
}
.banner-p{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
}
.banner-h1{
    font-size: 56px;
    font-weight: bold;
    column-rule: #0E0E0E;
}
.banner-button{
    font-size: 18px;
    font-weight: 800px;
    color: #FFFFFF;
background-color: #006A50;
padding: 34px 17px;
height: 56px;
width: 270px;
border-radius: 8px;
text-align: center;

}
/* future-section */

.vision{
    gap: 32px;
    display: grid;
}
.vision-part-1{
    height: 120px;
    padding-bottom: 32px;

}

.card{
    display: flex;
}
.card-1{
    height: 320px;
    width: 400px;
    padding:32px;
    background-color: #97c0db;
    margin: 20px 10px;
    border-radius: 16px;
  
    
}
.card-2{
    height: 320px;
    width: 400px;
    padding:32px;
    background-color: #C6E4D6;
    margin: 20px 10px;
    border-radius: 16px;
}
.card-3{
    height: 320px;
    width: 400px;
    padding:32px;
    background-color: #F7EBCF;
    margin: 20px 10px;
    border-radius: 16px;
}
.card-btn-1{
    width: 122px;
    height: 41px;
    padding: 20px 11px;
    border-radius: 8px;
    background-color: #5490F5;
    color: #FFFFFF;
    margin-top: 50px;

}
.card-btn-2{
    width: 122px;
    height: 41px;
    padding: 20px 11px;
    border-radius: 8px;
    background-color: #09A15C;
    color: #FFFFFF;
    padding: 20px 11px ;
    margin-top: 50px;
}
.card-btn-3{
    width: 122px;
    height: 41px;
    padding: 20px 11px;
    border-radius: 8px;
    background-color: #FFC239;
    color: #FFFFFF;
    padding: 20px 11px ;
    margin-top: 50px;
}

#bg-pic{
    background: url(assets/quote-bg.png);
    background-repeat:no-repeat;
   
}
 

.speach{
    margin-top: 32px;
    padding: 48px 24px;
    background-color: #ebe7e7;
    border-radius: 16px;
    height: 200px;}
   


/* news-section */
.news-section{
    gap: 32px;
    display: grid;
}

.recent-news-heading{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.recent-news-description{
    font-size: 16;
   color:#0E0E0E
}
.news{

    display: flex;
    width: 1280px;
    height: 340px;
    padding: 48px;
    gap: 40px;
    background-color: #cae7f3;
    border-radius: 24px;
    border: 1px solid black;
}
.news-img{padding-top: 10px;
    width: 408px;
    height: 300px;
    border-radius: 24px;
}
.news-heading{
    font-size: 30px;
    font-weight: bold;
    color: #0E0E0E;
}
.al-jazeera-icon{
    width: 134px;
    height: 30px;
}
.news-description{
    font-size: 16px;
    color: #0E0E0E;
}
.news-button{
    background-color: #006A50;
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 700;
    width: 139px;
    height: 40px;
    padding: 26px 13px;
    border-radius: 8px;
    text-align: center;
}
/* donation-section */
.donation-heading{
    text-align: center;
}


.donate{
    gap: 32px;
    display: grid;
    
}
.amount{
    display: flex;
    gap: 50px;
    margin:32px 104.5px 32px 104px ;
}
.amount-box{
   
    width: 240px;
    height: 128px;
    border-radius: 15px;
    padding: 40px;
    background-color: aquamarine;
}
.input-div{
    padding-right: 124px;
    padding-left: 124px;
}
.input{
    width: 1032px;
    height: 64px;
    text-align: center;
   
    
   
}
.donation-btn{
    width: 151px;
    height: 56px;
    padding: 34px 17px;
   border-radius: 8px;
    color: #FFFFFF;
   background-color: #006A50;

    
   
}
.payment{
    text-align: center;
   margin-top: 32px;
}
/* subscriber-section */
.news-latter{
    width: 1280px;
    height: 511px;
    background-color: #C6E4D6;
   
    border-radius: 10px;
    margin-top: 80px;
}
.subscribe-section{
    
    height: 622px;
    padding: 100px 80px; 
    margin: 80px 200px;

    text-align: center;
}
.subscription-form{
    display: flex;
    margin-top: 24px;
    margin-bottom: 43px;
    height: 56px;
    width: 750px;
    text-align: center;
}
.subscription-input{
    height: 55px;
    width: 600px;

   }
   .subscription-btn{
    height: 58px;
    width: 150px;
    background-color: #006A50;
    color: #F7EBCF;
    padding: 25px 17px;
   }